.main-content {
  margin: 91px 0 0 117px;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1124px;
  padding: 0 1em;
}

header {
  width: 100%;
}

.change-source-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  color: var(--main-theme-color);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.graphs-bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.graph-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.infos-bloc {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

