:root {
    --main-dark-color: #020203;
    --main-light-color: #fff;
    --main-theme-color: #FF0101;
    --bloc-background-color: #FBFBFB;
    --light-text-color: #74798C;
}

body {
    margin: 0;
}
main {
    display: flex;
}

