.activity-chart {
  min-width: 600px;
  width: 100%;
  height: 320px;
}

.recharts-legend-item-text {
  color: #74798c !important; //need to force color here
}

.activity-chart-tooltip-container {
  background-color: var(--main-theme-color);
  padding: 10px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity-chart-tooltip-content {
  font-size: 7px;
  text-align: center;
  color: white;
  display: block;
  margin: 2em 0;
}
