.nav-logo {
  height: 60px;
  width: 178px
}

nav {
  height: 91px;
  background-color: var(--main-dark-color);
  display: flex;
    justify-content: space-between;
  padding: 0 10% 0 1%;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  & a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
